<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VitalNest</title>
    <link rel = "stylesheet" href = "/static/style.css">
</head>
<body  style="background-color:#ebf9fa;">
    <h1 class="admin_user_approval_card_heading">Vital Nest Admin Dashboard - {{admin_id}}</h1>
    <hr>
    <div>
        <h2 style="text-align: center;">Users data</h2>
        <table border="1.5" cellpadding="15" cellspacing="0" style="margin: auto; background-color: rgb(250, 240, 255);">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Aadhar</th>
                    <th>Mobile Number</th>
                    <th>User Type</th>
                    <th>Request timestamp</th>
                    <th>Take Action</th>
                </tr>
            </thead>
            <tbody style="background-color: white;">
                {% for record in approval_data %}
                <tr>
                    <td>{{ record[0] }}</td>
                    <td>{{ record[1] }}</td>
                    <td>{{ record[2] }}</td>
                    <td>{{ record[3] }}</td>
                    <td>{{ record[4] }}</td>
                    <td>
                        <form action="/approveUser" method="post">
                            <input type="hidden" name="name" value="{{record[0]}}">
                            <input type="hidden" name="aadhar" value="{{record[1]}}">
                            <input type="hidden" name="mobile" value="{{record[2]}}">
                            <input type="hidden" name="type" value="{{record[3]}}">
                            <input type="hidden" name="passwd" value="{{record[5]}}">
                            <button class="admin_user_approval_card_accept_button_design" type="submit" name="action" value="approve">Approve</button>
                            <button class="admin_user_approval_card_reject_button_design" type="submit" name="action" value="reject">Reject</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
        <div >
        <h2 style="text-align: center;">Search for Patient Records log Data</h2>
        <div class="admin_patient_record_card_design">
        <form action="/patientRecordsLogData" method="post">
            <label for="aadhar">Patient ID (Aadhar):</label><br>
            <input type="text" id="p_id" name="aadhar" pattern="\d{12}" maxlength="12" minlength="12" required><br><br>
            
            <input class="admin_patient_record_button_design" type="submit" value="Submit">
        </form>
        </div>
    </div>
    <hr>
    <div>
        <h2 style="text-align: center;">Users data</h2>
        <table border="1.5" cellpadding="15" cellspacing="0" style="margin: auto; background-color: rgb(250, 240, 255); ">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Aadhar</th>
                    <th>Mobile Number</th>
                    <th>User Type</th>
                </tr>
            </thead>
            <tbody style="background-color: white;">
                {% for user in users %}
                <tr>
                    <td>{{ user[0] }}</td>
                    <td>{{ user[1] }}</td>
                    <td>{{ user[2] }}</td>
                    <td>{{ user[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
    
    <div>
        <h2 style="text-align: center;">Inventory Data</h2>
        <table border="1.5" cellpadding="15" cellspacing="0" style="margin: auto; background-color: rgb(250, 240, 255);">
            <thead>
                <tr>
                    <th>Supplier ID</th>
                    <th>Quantity</th>
                    <th>Item</th>
                    <th>Price Per Unit</th>
                    <th>Supplied Timestamp</th>
                    <th>HSP ID</th>
                    <th>Type of Product</th>
                    <th>IND ID</th>
                </tr>
            </thead>
            <tbody style="background-color: white;">
                {% for inventory in supply %}
                <tr>
                    <td>{{ inventory[0] }}</td>
                    <td>{{ inventory[1] }}</td>
                    <td>{{ inventory[2] }}</td>
                    <td>{{ inventory[3] }}</td>
                    <td>{{ inventory[4] }}</td>
                    <td>{{ inventory[5] }}</td>
                    <td>{{ inventory[6] }}</td>
                    <td>{{ inventory[7] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
    <div>
        <h2 style="text-align: center;">Data Records</h2>
        <table border="1.5" cellpadding="15" cellspacing="0" style="margin: auto; background-color: rgb(250, 240, 255);">
            <thead>
                <tr>
                    <th>HSP ID</th>
                    <th>Supplier ID</th>
                    <th>IND ID</th>
                </tr>
            </thead>
            <tbody style="background-color: white;">
                {% for record in hsp_data %}
                <tr>
                    <td>{{ record[0] }}</td>
                    <td>{{ record[1] }}</td>
                    <td>{{ record[2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
    <div style="text-align: center;">
        <h2>Log Data</h2>

        <a href="/LogData">
        <button class="view_log_data_button">View Log Data</button>
        </a>
    </div>

</body>
</html>