<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VitalNest</title>
</head>
<body>
    <h1>Vital Nest Admin Dashboard - {{admin_id}}</h1>
    <div>
        <h2>Users data</h2>
        <ul>
            {% for user in users %}
            <li>{{user}}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2>Log Data</h2>
        <ul>
            {% for log in logs %}
            <li>{{log}}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2>Supply data</h2>
        <ul>
            {% for item in supply %}
            <li>{{item}}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2>Hospital management data</h2>
        <ul>
            {% for hsptl in hsp_data %}
            <li>{{hsptl}}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>