<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VitalNest</title>
</head>
<body>
    <h1>Vital Nest Admin Dashboard</h1>
    <div>
        <h2>Users data</h2>
        <h3>{{users}}</h3>
    </div>
    <h1>Vital Nest Admin Dashboard</h1>
    <div>
        <h2>Log Data</h2>
        <h3>{{logs}}</h3>
    </div>
    <div>
        <h2>Supply data</h2>
        <h3>{{supply_data}}</h3>
    </div>
</body>
</html>