<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VitalNest</title>
    <link rel = "stylesheet" href = "/static/style.css">
</head>
<body >
    <div class = "header">
        <h1>VitalNest</h1>
        <div class="top-bar">
            <a href="#">Login</a>
            <a href="#">Signup</a>
    </div>
    </div>
    
    <h2><span>&#128522</span> Where life begins again...........</h2>
    

    <div class = "image-row">
        <img src = "/static/dashboard.jpg" alt = "hospital" >
        <img src = "/static/Doctor_Holding_Stethoscope.webp" alt = "doctor">
        <img src = "/static/Older-patient.jpg" alt = "patient">
    </div>

</body>
</html>