<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask based Solution for VitalNest</title>
</head>
<body
    style ="background-color : rgb(164, 164, 201)">
    <h2>Welcome to VitalNest</h2>
    <form action="/login" method="post">
        <label for="aadhar"> Aadhar Id </label>
        <input type="text" name="aadhar" pattern="\d{12}" maxlength="12" minlength="12" required>
        <br>
        <label for="passwd"> passwd </label>
        <input type="password" name="passwd" maxlength="15" minlength="8" required>
        <br>
        <input type="submit" value="login">
    </form>
    <hr>
    <a href="{{url_for('register')}}">Not yet registered??? click me</a>
</body>
</html>