<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VitalNest</title>
    <link rel = "stylesheet" href = "/static/style.css">
</head>
<body style="background-color:#ebf9fa;">
    <h1 class="industry_dashboard_main_heading">Vital Nest pharma Industry Dashboard {{ind_id}}</h1>
    <hr>
    <div>
        <h2 class="industry_dashboard_sub_heading">Medicine data</h2>
        <table border="1.5" cellpadding="15" cellspacing="0" style="margin: 25px;">
            <thead>
                <tr class="industry_dashboard_add_medicine_table">
                    <th>Name</th>
                    <th>Uses</th>
                    <th>Side Effects</th>
                    <th>Current Quantity</th>
                    <td>Increment Quantity</th>
                    <td>Remove Medicine</td>
                </tr>
            </thead>
            <tbody style="background-color: white;">
                {% for medicine in medicines %}
                <tr style="padding: 10px; text-align: center;">
                    <td>{{ medicine[1] }}</td>
                    <td>{{ medicine[2] }}</td>
                    <td>{{ medicine[3] }}</td>
                    <td>{{ medicine[4] }}</td>
                    <td>
                        <form action="/updateMedicineQuantity" method="post">
                            <input type="hidden" name="name" value="{{medicine[1]}}">
                            <input type="hidden" name="quant" value="{{medicine[4]}}">
                            <input type="number" min="100" max="5000" name="quant_update">
                            <button type="submit" name="action" value="update">Update</button>
                        </form>
                    </td>
                    <td>
                        <form action="/removeMedicine" method="post">
                            <input type="hidden" name="name" value="{{medicine[1]}}">
                            <button type="submit">Remove</button>
                        </form>
                    </td>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <h2 class="industry_dashboard_sub_heading">Add new Medicines</h2>
    <div class="industry_dashboard_add_medicine">
    <form action="/newMedicine" method="post" >
        
        <input type="hidden" name="ind_id" value="{{ind_id}}">

        <label style="font-size: 20px;">Tablet Name:</label><br>
        <input type="text" name="med_name" required><br><br>
        
        <label style="font-size: 20px;">Uses:</label><br>
        <input type="text" name="uses"><br><br>

        <label style="font-size: 20px;">Side Effects:</label><br>
        <input type="text" name="side_effects"><br><br>
        
        <input type="submit" value="Submit" class="industry_dashboard_add_medicine_button">
    </form>
    </div>
    <div>
        <h2 style="text-align: center;">Request Data</h2>
        <table border="1" cellpadding="5" cellspacing="0" style="margin: auto;">
            <thead>
                <tr>
                    <th>Supplier ID</th>
                    <th>Quantity</th>
                    <th>Industry ID</th>
                    <th>Medicine Name</th>
                    <th>Request Timestamp</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for record in request_data %}
                <tr>    
                    <td>{{ record[0] }}</td>
                    <td>{{ record[1] }}</td>
                    <td>{{ record[2] }}</td>
                    <td>{{ record[3] }}</td>
                    <td>{{ record[4] }}</td>
                    <td>
                        <form action="/sendInventory" method="post">
                            <input type="hidden" name="supplier_id" value="{{record[0]}}">
                            <input type="hidden" name="quantity" value="{{record[1]}}">
                            <input type="hidden" name="ind_id" value="{{record[2]}}">
                            <input type="hidden" name="med_name" value="{{record[3]}}">
                            <button type="submit" name="action" value="approve">Approve</button>
                            <button type="submit" name="action" value="reject">Reject</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


</body>
</html>