<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel = "stylesheet" href = "static/style1.css">
</head>
<body>
    <h1>VITAL NEST</h1>
    <div>
        <form  action="#" class = "box">
            <div class = "container"> <h3><b>Login</b></h3></div>
            <br>
            <p class = "form">
                <label for = "name">Name : </label>
                <input type = "text" id = "name" name="user-name" placeholder="user-name"/>
            </p>
            <br>
            <p class = "form">
                <label for = "passwd" >password:</label>
                <input type = "password" id = "passwd" name = "password" placeholder="password"/>
            </p>
            <!-- <br>     -->
            <P class = "form">
                <div class = "container" ><button type="submit" name = "submit">login</button></div>
            </P>
            <hr>
            <p>have not registered yet?<a href = "#">sign in</a></p>
        </form>
    </div>
</body>
</html>